body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	background-color:#f4f3f3;
}


header{
	background:#036bf4;#35434a;
	border-bottom:#448AFF 3px solid;
	width:100%;
	padding-top:2px;
}


.main-header{
	text-align:center;
	background-color: blue;
	width:100%;		
		}

#brandname{
	text-align:center;
	font-size:50px;
	color: rgb(0, 0, 0);
	margin: 10px;
}


textarea {
	width: 700px;
	height: 300px;
	border-style: groove;
        border-width: 7px;
	border-color: rgb(95, 94, 94);
	display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
  }


.results h3{
	font-size: 20px;
	padding-left: 40%;
}

.upload{
padding-top:10px;
}